{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container" style="width: 50rem;  margin: 0 auto; margin-top: 5rem; padding:50px ;background-color: #658080">

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.phoneNumber) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button type="submit" class="btn btn-lg btn-dark mt-3 mb-3">Register</button>
    {{ form_end(registrationForm) }}
    <div>
{% endblock %}
